<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>3MINDIA</string>
        <key>zerodha_Id</key>
        <string>121345</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AARTIIND</string>
        <key>zerodha_Id</key>
        <string>1793</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ABAN</string>
        <key>zerodha_Id</key>
        <string>2561</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ABB</string>
        <key>zerodha_Id</key>
        <string>3329</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ABIRLANUVO</string>
        <key>zerodha_Id</key>
        <string>401153</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ACC</string>
        <key>zerodha_Id</key>
        <string>5633</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ADANIENT</string>
        <key>zerodha_Id</key>
        <string>6401</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ADANIPORTS</string>
        <key>zerodha_Id</key>
        <string>3861249</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ADANIPOWER</string>
        <key>zerodha_Id</key>
        <string>4451329</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ADVANTA</string>
        <key>zerodha_Id</key>
        <string>136407044</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AIAENG</string>
        <key>zerodha_Id</key>
        <string>3350017</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AJANTPHARM</string>
        <key>zerodha_Id</key>
        <string>2079745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AKZOINDIA</string>
        <key>zerodha_Id</key>
        <string>375553</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ALBK</string>
        <key>zerodha_Id</key>
        <string>2760193</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ALLCARGO</string>
        <key>zerodha_Id</key>
        <string>3456257</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ALOKTEXT</string>
        <key>zerodha_Id</key>
        <string>20993</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AMARAJABAT</string>
        <key>zerodha_Id</key>
        <string>25601</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AMBUJACEM</string>
        <key>zerodha_Id</key>
        <string>325121</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AMTEKAUTO</string>
        <key>zerodha_Id</key>
        <string>30977</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ANDHRABANK</string>
        <key>zerodha_Id</key>
        <string>2524673</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ANSALAPI</string>
        <key>zerodha_Id</key>
        <string>37889</string>
    </dict>
    <dict>
        <key>name</key>
        <string>APOLLOHOSP</string>
        <key>zerodha_Id</key>
        <string>40193</string>
    </dict>
    <dict>
        <key>name</key>
        <string>APOLLOTYRE</string>
        <key>zerodha_Id</key>
        <string>41729</string>
    </dict>
    <dict>
        <key>name</key>
        <string>APTECHT</string>
        <key>zerodha_Id</key>
        <string>2753281</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ARVIND</string>
        <key>zerodha_Id</key>
        <string>49409</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ASAHIINDIA</string>
        <key>zerodha_Id</key>
        <string>1376769</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ASHOKLEY</string>
        <key>zerodha_Id</key>
        <string>54273</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ASIANPAINT</string>
        <key>zerodha_Id</key>
        <string>60417</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ASTRAZEN</string>
        <key>zerodha_Id</key>
        <string>1436161</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ATFL</string>
        <key>zerodha_Id</key>
        <string>425729</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ATUL</string>
        <key>zerodha_Id</key>
        <string>67329</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AUROPHARMA</string>
        <key>zerodha_Id</key>
        <string>70401</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AUTOAXLES</string>
        <key>zerodha_Id</key>
        <string>71169</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AUTOIND</string>
        <key>zerodha_Id</key>
        <string>3611137</string>
    </dict>
    <dict>
        <key>name</key>
        <string>AXISBANK</string>
        <key>zerodha_Id</key>
        <string>1510401</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJAJ-AUTO</string>
        <key>zerodha_Id</key>
        <string>4267265</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJAJELEC</string>
        <key>zerodha_Id</key>
        <string>3848705</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJAJFINSV</string>
        <key>zerodha_Id</key>
        <string>4268801</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJAJHIND</string>
        <key>zerodha_Id</key>
        <string>78849</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJAJHLDNG</string>
        <key>zerodha_Id</key>
        <string>78081</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BAJFINANCE</string>
        <key>zerodha_Id</key>
        <string>81153</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BALKRISIND</string>
        <key>zerodha_Id</key>
        <string>85761</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BALRAMCHIN</string>
        <key>zerodha_Id</key>
        <string>87297</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BANCOINDIA</string>
        <key>zerodha_Id</key>
        <string>3553281</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BANKBARODA</string>
        <key>zerodha_Id</key>
        <string>1195009</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BANKBEES</string>
        <key>zerodha_Id</key>
        <string>2928385</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BANKINDIA</string>
        <key>zerodha_Id</key>
        <string>1214721</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BASF</string>
        <key>zerodha_Id</key>
        <string>94209</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BATAINDIA</string>
        <key>zerodha_Id</key>
        <string>94977</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BEL</string>
        <key>zerodha_Id</key>
        <string>98049</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BEML</string>
        <key>zerodha_Id</key>
        <string>101121</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BGRENERGY</string>
        <key>zerodha_Id</key>
        <string>3888385</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BHARATFORG</string>
        <key>zerodha_Id</key>
        <string>108033</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BHARTIARTL</string>
        <key>zerodha_Id</key>
        <string>2714625</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BHEL</string>
        <key>zerodha_Id</key>
        <string>112129</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BIOCON</string>
        <key>zerodha_Id</key>
        <string>2911489</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BOSCHLTD</string>
        <key>zerodha_Id</key>
        <string>558337</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BPCL</string>
        <key>zerodha_Id</key>
        <string>134657</string>
    </dict>
    <dict>
        <key>name</key>
        <string>BRITANNIA</string>
        <key>zerodha_Id</key>
        <string>140033</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CADILAHC</string>
        <key>zerodha_Id</key>
        <string>2029825</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CAIRN</string>
        <key>zerodha_Id</key>
        <string>3580417</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CANBK</string>
        <key>zerodha_Id</key>
        <string>2763265</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CASTROLIND</string>
        <key>zerodha_Id</key>
        <string>320001</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CEATLTD</string>
        <key>zerodha_Id</key>
        <string>3905025</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CENTURYPLY</string>
        <key>zerodha_Id</key>
        <string>3406081</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CENTURYTEX</string>
        <key>zerodha_Id</key>
        <string>160001</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CESC</string>
        <key>zerodha_Id</key>
        <string>160769</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CHENNPETRO</string>
        <key>zerodha_Id</key>
        <string>524545</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CIPLA</string>
        <key>zerodha_Id</key>
        <string>177665</string>
    </dict>
    <dict>
        <key>name</key>
        <string>COALINDIA</string>
        <key>zerodha_Id</key>
        <string>5215745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>COFFEEDAY</string>
        <key>zerodha_Id</key>
        <string>2858241</string>
    </dict>
    <dict>
        <key>name</key>
        <string>COLPAL</string>
        <key>zerodha_Id</key>
        <string>3876097</string>
    </dict>
    <dict>
        <key>name</key>
        <string>COROMANDEL</string>
        <key>zerodha_Id</key>
        <string>189185</string>
    </dict>
    <dict>
        <key>name</key>
        <string>COX&amp;amp;KINGS</string>
        <key>zerodha_Id</key>
        <string>4558337</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CROMPGREAV</string>
        <key>zerodha_Id</key>
        <string>194561</string>
    </dict>
    <dict>
        <key>name</key>
        <string>CUMMINSIND</string>
        <key>zerodha_Id</key>
        <string>486657</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DABUR</string>
        <key>zerodha_Id</key>
        <string>197633</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DBCORP</string>
        <key>zerodha_Id</key>
        <string>4577537</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DBREALTY</string>
        <key>zerodha_Id</key>
        <string>4639745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DELTACORP</string>
        <key>zerodha_Id</key>
        <string>3851265</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DHFL</string>
        <key>zerodha_Id</key>
        <string>215553</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DISHMAN</string>
        <key>zerodha_Id</key>
        <string>2916865</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DISHTV</string>
        <key>zerodha_Id</key>
        <string>3721473</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DIVISLAB</string>
        <key>zerodha_Id</key>
        <string>2800641</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DLF</string>
        <key>zerodha_Id</key>
        <string>3771393</string>
    </dict>
    <dict>
        <key>name</key>
        <string>DRREDDY</string>
        <key>zerodha_Id</key>
        <string>225537</string>
    </dict>
    <dict>
        <key>name</key>
        <string>EICHERMOT</string>
        <key>zerodha_Id</key>
        <string>232961</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ENGINERSIN</string>
        <key>zerodha_Id</key>
        <string>1256193</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ESCORTS</string>
        <key>zerodha_Id</key>
        <string>245249</string>
    </dict>
    <dict>
        <key>name</key>
        <string>EVEREADY</string>
        <key>zerodha_Id</key>
        <string>3016193</string>
    </dict>
    <dict>
        <key>name</key>
        <string>EXIDEIND</string>
        <key>zerodha_Id</key>
        <string>173057</string>
    </dict>
    <dict>
        <key>name</key>
        <string>FEDERALBNK</string>
        <key>zerodha_Id</key>
        <string>261889</string>
    </dict>
    <dict>
        <key>name</key>
        <string>FORTIS</string>
        <key>zerodha_Id</key>
        <string>3735553</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GAIL</string>
        <key>zerodha_Id</key>
        <string>1207553</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GATI</string>
        <key>zerodha_Id</key>
        <string>3504129</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GESHIP</string>
        <key>zerodha_Id</key>
        <string>3526657</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GILLETTE</string>
        <key>zerodha_Id</key>
        <string>403457</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GLAXO</string>
        <key>zerodha_Id</key>
        <string>295169</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GLENMARK</string>
        <key>zerodha_Id</key>
        <string>1895937</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GMRINFRA</string>
        <key>zerodha_Id</key>
        <string>3463169</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GODREJIND</string>
        <key>zerodha_Id</key>
        <string>2796801</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GODREJPROP</string>
        <key>zerodha_Id</key>
        <string>4576001</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GOLDBEES</string>
        <key>zerodha_Id</key>
        <string>3693569</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GRANULES</string>
        <key>zerodha_Id</key>
        <string>3039233</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GRASIM</string>
        <key>zerodha_Id</key>
        <string>315393</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GSKCONS</string>
        <key>zerodha_Id</key>
        <string>821761</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GSPL</string>
        <key>zerodha_Id</key>
        <string>3378433</string>
    </dict>
    <dict>
        <key>name</key>
        <string>GUJFLUORO</string>
        <key>zerodha_Id</key>
        <string>329985</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HAVELLS</string>
        <key>zerodha_Id</key>
        <string>2513665</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HCLTECH</string>
        <key>zerodha_Id</key>
        <string>1850625</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HDFC</string>
        <key>zerodha_Id</key>
        <string>340481</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HDFCBANK</string>
        <key>zerodha_Id</key>
        <string>341249</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HDIL</string>
        <key>zerodha_Id</key>
        <string>3789569</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HEROMOTOCO</string>
        <key>zerodha_Id</key>
        <string>345089</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HEXAWARE</string>
        <key>zerodha_Id</key>
        <string>2747905</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HINDALCO</string>
        <key>zerodha_Id</key>
        <string>348929</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HINDCOPPER</string>
        <key>zerodha_Id</key>
        <string>4592385</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HINDPETRO</string>
        <key>zerodha_Id</key>
        <string>359937</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HINDUNILVR</string>
        <key>zerodha_Id</key>
        <string>356865</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HINDZINC</string>
        <key>zerodha_Id</key>
        <string>364545</string>
    </dict>
    <dict>
        <key>name</key>
        <string>HOTELEELA</string>
        <key>zerodha_Id</key>
        <string>370689</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IBREALEST</string>
        <key>zerodha_Id</key>
        <string>3699201</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IBULHSGFIN</string>
        <key>zerodha_Id</key>
        <string>7712001</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ICICIBANK</string>
        <key>zerodha_Id</key>
        <string>1270529</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IDBI</string>
        <key>zerodha_Id</key>
        <string>377857</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IDEA</string>
        <key>zerodha_Id</key>
        <string>3677697</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IDFC</string>
        <key>zerodha_Id</key>
        <string>3060993</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IFCI</string>
        <key>zerodha_Id</key>
        <string>381697</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IGL</string>
        <key>zerodha_Id</key>
        <string>2883073</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INDHOTEL</string>
        <key>zerodha_Id</key>
        <string>387073</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INDIACEM</string>
        <key>zerodha_Id</key>
        <string>387841</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INDIGO</string>
        <key>zerodha_Id</key>
        <string>2865921</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INDUSINDBK</string>
        <key>zerodha_Id</key>
        <string>1346049</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INFRATEL</string>
        <key>zerodha_Id</key>
        <string>7458561</string>
    </dict>
    <dict>
        <key>name</key>
        <string>INFY</string>
        <key>zerodha_Id</key>
        <string>408065</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IOB</string>
        <key>zerodha_Id</key>
        <string>2393089</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IOC</string>
        <key>zerodha_Id</key>
        <string>415745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>IRB</string>
        <key>zerodha_Id</key>
        <string>3920129</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ITC</string>
        <key>zerodha_Id</key>
        <string>424961</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JETAIRWAYS</string>
        <key>zerodha_Id</key>
        <string>2997505</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JINDALSTEL</string>
        <key>zerodha_Id</key>
        <string>1723649</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JISLJALEQS</string>
        <key>zerodha_Id</key>
        <string>2661633</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JKCEMENT</string>
        <key>zerodha_Id</key>
        <string>3397121</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JKTYRE</string>
        <key>zerodha_Id</key>
        <string>3695361</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JPASSOCIAT</string>
        <key>zerodha_Id</key>
        <string>2933761</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JPPOWER</string>
        <key>zerodha_Id</key>
        <string>3011329</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JSWENERGY</string>
        <key>zerodha_Id</key>
        <string>4574465</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JSWSTEEL</string>
        <key>zerodha_Id</key>
        <string>3001089</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JUBLFOOD</string>
        <key>zerodha_Id</key>
        <string>4632577</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JUSTDIAL</string>
        <key>zerodha_Id</key>
        <string>7670273</string>
    </dict>
    <dict>
        <key>name</key>
        <string>JYOTHYLAB</string>
        <key>zerodha_Id</key>
        <string>3877377</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KARURVYSYA</string>
        <key>zerodha_Id</key>
        <string>470529</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KEC</string>
        <key>zerodha_Id</key>
        <string>3394561</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KOTAKBANK</string>
        <key>zerodha_Id</key>
        <string>492033</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KPIT</string>
        <key>zerodha_Id</key>
        <string>1790465</string>
    </dict>
    <dict>
        <key>name</key>
        <string>KSCL</string>
        <key>zerodha_Id</key>
        <string>3832833</string>
    </dict>
    <dict>
        <key>name</key>
        <string>L&amp;amp;TFH</string>
        <key>zerodha_Id</key>
        <string>6386689</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LICHSGFIN</string>
        <key>zerodha_Id</key>
        <string>511233</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LINDEINDIA</string>
        <key>zerodha_Id</key>
        <string>416513</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LIQUIDBEES</string>
        <key>zerodha_Id</key>
        <string>2817537</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LOVABLE</string>
        <key>zerodha_Id</key>
        <string>5738241</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LT</string>
        <key>zerodha_Id</key>
        <string>2939649</string>
    </dict>
    <dict>
        <key>name</key>
        <string>LUPIN</string>
        <key>zerodha_Id</key>
        <string>2672641</string>
    </dict>
    <dict>
        <key>name</key>
        <string>M&amp;amp;M</string>
        <key>zerodha_Id</key>
        <string>519937</string>
    </dict>
    <dict>
        <key>name</key>
        <string>M&amp;amp;MFIN</string>
        <key>zerodha_Id</key>
        <string>3400961</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MARICO</string>
        <key>zerodha_Id</key>
        <string>1041153</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MARUTI</string>
        <key>zerodha_Id</key>
        <string>2815745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MCDOWELL-N</string>
        <key>zerodha_Id</key>
        <string>2674433</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MCLEODRUSS</string>
        <key>zerodha_Id</key>
        <string>3057409</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MERCATOR</string>
        <key>zerodha_Id</key>
        <string>3040257</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MINDTREE</string>
        <key>zerodha_Id</key>
        <string>3675137</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MOTHERSUMI</string>
        <key>zerodha_Id</key>
        <string>1076225</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MPHASIS</string>
        <key>zerodha_Id</key>
        <string>1152769</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MRF</string>
        <key>zerodha_Id</key>
        <string>582913</string>
    </dict>
    <dict>
        <key>name</key>
        <string>MRPL</string>
        <key>zerodha_Id</key>
        <string>584449</string>
    </dict>
    <dict>
        <key>name</key>
        <string>NAUKRI</string>
        <key>zerodha_Id</key>
        <string>3520257</string>
    </dict>
    <dict>
        <key>name</key>
        <string>NCC</string>
        <key>zerodha_Id</key>
        <string>593665</string>
    </dict>
    <dict>
        <key>name</key>
        <string>NHPC</string>
        <key>zerodha_Id</key>
        <string>4454401</string>
    </dict>
    <dict>
        <key>name</key>
        <string>NIFTYBEES</string>
        <key>zerodha_Id</key>
        <string>2707457</string>
    </dict>
    <dict>
        <key>name</key>
        <string>NMDC</string>
        <key>zerodha_Id</key>
        <string>3924993</string>
    </dict>
    <dict>
        <key>name</key>
        <string>OFSS</string>
        <key>zerodha_Id</key>
        <string>2748929</string>
    </dict>
    <dict>
        <key>name</key>
        <string>OIL</string>
        <key>zerodha_Id</key>
        <string>4464129</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ONGC</string>
        <key>zerodha_Id</key>
        <string>633601</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ORIENTBANK</string>
        <key>zerodha_Id</key>
        <string>636673</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PAGEIND</string>
        <key>zerodha_Id</key>
        <string>3689729</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PEL</string>
        <key>zerodha_Id</key>
        <string>617473</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PETRONET</string>
        <key>zerodha_Id</key>
        <string>2905857</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PFC</string>
        <key>zerodha_Id</key>
        <string>3660545</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PIDILITIND</string>
        <key>zerodha_Id</key>
        <string>681985</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PNB</string>
        <key>zerodha_Id</key>
        <string>2730497</string>
    </dict>
    <dict>
        <key>name</key>
        <string>POLARIS</string>
        <key>zerodha_Id</key>
        <string>1793793</string>
    </dict>
    <dict>
        <key>name</key>
        <string>POWERGRID</string>
        <key>zerodha_Id</key>
        <string>3834113</string>
    </dict>
    <dict>
        <key>name</key>
        <string>PTC</string>
        <key>zerodha_Id</key>
        <string>2906881</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RCOM</string>
        <key>zerodha_Id</key>
        <string>3375873</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RECLTD</string>
        <key>zerodha_Id</key>
        <string>3930881</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RELCAPITAL</string>
        <key>zerodha_Id</key>
        <string>737793</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RELIANCE</string>
        <key>zerodha_Id</key>
        <string>738561</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RELINFRA</string>
        <key>zerodha_Id</key>
        <string>141569</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ROLTA</string>
        <key>zerodha_Id</key>
        <string>747009</string>
    </dict>
    <dict>
        <key>name</key>
        <string>RPOWER</string>
        <key>zerodha_Id</key>
        <string>3906305</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SAIL</string>
        <key>zerodha_Id</key>
        <string>758529</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SBIN</string>
        <key>zerodha_Id</key>
        <string>779521</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SIEMENS</string>
        <key>zerodha_Id</key>
        <string>806401</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SINTEX</string>
        <key>zerodha_Id</key>
        <string>1492737</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SNOWMAN</string>
        <key>zerodha_Id</key>
        <string>1239809</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SOUTHBANK</string>
        <key>zerodha_Id</key>
        <string>1522689</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SRF</string>
        <key>zerodha_Id</key>
        <string>837889</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SRTRANSFIN</string>
        <key>zerodha_Id</key>
        <string>1102337</string>
    </dict>
    <dict>
        <key>name</key>
        <string>STAR</string>
        <key>zerodha_Id</key>
        <string>1887745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SUNPHARMA</string>
        <key>zerodha_Id</key>
        <string>857857</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SUNTV</string>
        <key>zerodha_Id</key>
        <string>3431425</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SUZLON</string>
        <key>zerodha_Id</key>
        <string>3076609</string>
    </dict>
    <dict>
        <key>name</key>
        <string>SYNDIBANK</string>
        <key>zerodha_Id</key>
        <string>1837825</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATACHEM</string>
        <key>zerodha_Id</key>
        <string>871681</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATACOFFEE</string>
        <key>zerodha_Id</key>
        <string>185345</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATACOMM</string>
        <key>zerodha_Id</key>
        <string>952577</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATAGLOBAL</string>
        <key>zerodha_Id</key>
        <string>878593</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATAMOTORS</string>
        <key>zerodha_Id</key>
        <string>884737</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATAMTRDVR</string>
        <key>zerodha_Id</key>
        <string>4343041</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATAPOWER</string>
        <key>zerodha_Id</key>
        <string>877057</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TATASTEEL</string>
        <key>zerodha_Id</key>
        <string>895745</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TCS</string>
        <key>zerodha_Id</key>
        <string>2953217</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TECHM</string>
        <key>zerodha_Id</key>
        <string>3465729</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TITAN</string>
        <key>zerodha_Id</key>
        <string>897537</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TORNTPHARM</string>
        <key>zerodha_Id</key>
        <string>900609</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TORNTPOWER</string>
        <key>zerodha_Id</key>
        <string>3529217</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TTKPRESTIG</string>
        <key>zerodha_Id</key>
        <string>907777</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TTML</string>
        <key>zerodha_Id</key>
        <string>2292225</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TUBEINVEST</string>
        <key>zerodha_Id</key>
        <string>908545</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TV18BRDCST</string>
        <key>zerodha_Id</key>
        <string>3637249</string>
    </dict>
    <dict>
        <key>name</key>
        <string>TVSMOTOR</string>
        <key>zerodha_Id</key>
        <string>2170625</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UBL</string>
        <key>zerodha_Id</key>
        <string>4278529</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UCOBANK</string>
        <key>zerodha_Id</key>
        <string>2873089</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ULTRACEMCO</string>
        <key>zerodha_Id</key>
        <string>2952193</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UNIONBANK</string>
        <key>zerodha_Id</key>
        <string>2752769</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UNITECH</string>
        <key>zerodha_Id</key>
        <string>920065</string>
    </dict>
    <dict>
        <key>name</key>
        <string>UPL</string>
        <key>zerodha_Id</key>
        <string>2889473</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VEDL</string>
        <key>zerodha_Id</key>
        <string>784129</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VENKEYS</string>
        <key>zerodha_Id</key>
        <string>961793</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VGUARD</string>
        <key>zerodha_Id</key>
        <string>3932673</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VIDEOIND</string>
        <key>zerodha_Id</key>
        <string>937985</string>
    </dict>
    <dict>
        <key>name</key>
        <string>VOLTAS</string>
        <key>zerodha_Id</key>
        <string>951809</string>
    </dict>
    <dict>
        <key>name</key>
        <string>WELSPUNIND</string>
        <key>zerodha_Id</key>
        <string>2880769</string>
    </dict>
    <dict>
        <key>name</key>
        <string>WIPRO</string>
        <key>zerodha_Id</key>
        <string>969473</string>
    </dict>
    <dict>
        <key>name</key>
        <string>WOCKPHARMA</string>
        <key>zerodha_Id</key>
        <string>1921537</string>
    </dict>
    <dict>
        <key>name</key>
        <string>WONDERLA</string>
        <key>zerodha_Id</key>
        <string>768513</string>
    </dict>
    <dict>
        <key>name</key>
        <string>YESBANK</string>
        <key>zerodha_Id</key>
        <string>3050241</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ZEEL</string>
        <key>zerodha_Id</key>
        <string>975873</string>
    </dict>
</array>
</plist>
